extends layout

block content
  section.section
      if youtubeVideoIframe
        .container
          .columns 
            .column.is-one-third
              .column
                h1.title.is-2= item.text
                p= item.description
              .column
                a(href=`${item.linkToResource}`)
                  p Link to resource 
            .column
              p !{youtubeVideoIframe}  
          .columns 
            .column              
              .field
                a.button.is-medium.is-primary(href=`/lists/${item.list}`)
                  span.icon.is-medium
                    i.fa.fa-arrow-left
                  span Back
    
      else 
        .container
          .columns 
            .column.is-half.is-offset-one-quarter
              .column
                h1.title.is-2= item.text
                p= item.description
              .column
                a(href=`${item.linkToResource}`)
                  p Link to resource 
            .columns 
              .column              
                .field
                  a.button.is-medium.is-primary(href=`/lists/${item.list}`)
                    span.icon.is-medium
                      i.fa.fa-arrow-left
                    span Back
