extends layout

block content
  section.section
    .container
      h1.title.is-2=name
      .columns
        .column.is-half
          if items.length > 0
            p Your list items:
            .content
              ul
              each item in items
                li
                  - var string = `updateItem(this, "/items/edit?item=${item._id}&status=${item.status}")`
                  a(onclick=string class=item.status)=item.text
                  span
                  a(href=`/items/${item._id}`).itemDetail   (Show details)
          form(method='POST')
            .field
              label.label(for="text") Item
              .control
                input.input(type="text" name="text")
            .field
              .control
              button.button.is-primary(type="submit") Add Item
        .column
          if items.length > 0
            p Feedback on the items:
            .content
              ul
              each item in items
                if item.feedback 
                  li= item.feedback
                else
                  li (no feedback yet)
  #feedback-popup.modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Give feedback on the task
        button(onclick="closeItemFeedbackPopup()").delete
      section.modal-card-body
        textarea(onkeypress="addFeedbackTextToLink(this)").textarea.task-feedback
      footer.modal-card-foot
        a(href='').button.is-primary#send-feedback-button Submit feedback
        a(href='').button#not-now-feedback-button Not now

  div(class="modal"+complete)#overall-feedback-popup
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Congratiulations! You've completed the list! 
        button(onclick="closeListFeedbackPopup()").delete
      section.modal-card-body
        p Give feedback on your learnings, successes and struggles. This helps your mentor to provide even better guidance in the future.
        form(method='POST' action=`/lists/${list.id}/edit`)
          .field
            .control
              textarea.textarea(type="textarea" name="feedback", placeholder="Feedback on the list")
          .field
            .control
              input(type="hidden" name="id" value=`${list.id}`)
          .field.is-grouped
            .control
              button.button.is-primary(type="submit") Submit Feedback
            .control
              a(onclick="closeListFeedbackPopup()").button#not-now-feedback-button Not now
