extends layout

block content
  section.section
    .container.authored_lists
      h1.title.is-2= title
      h2.title.is-4 Authored Lists
      .tile.is-ancestor.wrap-line
        .tile.is-parent.column.is-one-third
          .card.tile.is-child.create-list-info
            .card-content
              .content.has-text-centered
                p Adding a list is great way for keeping track of your activities!
                a.button.is-primary(href='/lists/new')
                  span.icon
                    i.fa.fa-plus-square-o
                  span Create List
        each list, index in currentUserAuthoredLists
          .tile.is-parent.column.is-one-third
            .card.tile.is-child
              header.card-header
                p.card-header-title
                  a(href=`lists/${list._id}`)=list.name
                p.card-header-title.author= `Assigned to ${list.mentee.name}`
              .card-content
                .content
                  p This is the list description

    br
    .container.assigned_lists
      h2.title.is-4 Lists assigned to me
      .tile.is-ancestor.wrap-line
        each list, index in listsAssignedToCurrentUser
          .tile.is-parent.column.is-one-third
            .card.tile.is-child
              header.card-header
                p.card-header-title
                  a(href=`lists/${list._id}`)=list.name
                p.card-header-title.author= `Author ${list.author.name}`
              .card-content
                .content
                  p This is the list description
