extends layout

block content
  section.section
    .container
      h1.title.is-2=name
      .columns
        .column.is-half
          if items.length > 0
            p Your list items:
            .content
              ul
              each item in items
                li
                  - var string = `updateItem("/items/edit?item=${item._id}&status=${item.status}")`
                  a(onclick=string class=item.status)=item.text
                  span
                  a(href=`/items/${item._id}`).itemDetail   (Show details)
          form(method='POST')
            .field
              label.label(for="text") Item
              .control
                input.input(type="text" name="text")
            .field
              .control
              button.button.is-primary(type="submit") Add Item
  #feedback-popup.modal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Give feedback on the task
        button.delete#close-feedback
      section.modal-card-body
        textarea.textarea.task-feedback 
      footer.modal-card-foot
        a(href='').button.is-primary#send-feedback-button Submit feedback
        a(href='').button#not-now-feedback-button Not now
